// colors
$primary-color: #263238;
$white-color: #fff;
$text-color:#8F95A5;
$black-color:#000;
$gray-logo-color:#939393;

// backgound-colors
$white-bg-color: #fff;
$card-bg-color:#F5F5F5;
$price-bg-color: #EEEEEE;

// fonts
$site-fonts:"poppins","arial", sans-serif;